@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-color: #1abc9c;
  --second-color: #2c3e50;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 768px) {

  .logo-1{
    font-size: 32px;
  
  }
}
h2{
  font-size: 40px;
}

body{
  padding-top: 90px;

}


.overlay{
  background-color: #1abc9ce6;
  opacity: 0;
  cursor: pointer;
  transition: .6s opacity;
}
.overlay:hover{
  opacity: 1;
}


nav{
  padding: 24px 0;
  transition: .6s padding;
}
.text-navy{
  color: var(--second-color);
}
.bg-navy{
  background-color: var(--second-color);
}
 ul .active{
  background-color: var(--main-color);
  border-radius: 0.5rem;
  width: 100%;
}

.bg-main{
  background: var(--main-color);

}

main-color{
  color: var(--main-color);
}
.icon{
  border: 1px white solid;
  border-radius: 50%;

  padding: 10px;
}